<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<a name="header"  href="#">
                Logged as :
                <span sec:authentication="name"></span>
               	<span sec:authorize="!isAnonymous()">Role:</span>
                <span sec:authorize="hasRole('ROLE_ADMIN')">admin</span>
                <span sec:authorize="hasRole('ROLE_USER')">user</span>
            </a>
	<div>hello</div>
	<a th:href="@{/}">Logout</a>
</body>
</html>
